.header-title{
  text-align: center;
  background: darkslategrey;
  color: #cecece;
  font-weight: bolder;
  font-size: 1.25em;
}

.mat-raised-button {
  border-radius: 2em;
  margin-left: 0.65em;
}

tr {
  background: #b2d8d8;
}
