<section class="gemphil" style="margin: 4.0em 2.0em;">
  <div class="row">
    <div class="col-7 container" style="margin-top: 0.85em;">
      <mat-card class="mat-elevation-z16 gemphil-default">
        <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header><hr>
        <mat-card-content>
          <img src="../../../assets/images/gemphil.jpg" width="100%" height="400" alt="">
          <br>
          <app-digital></app-digital>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-5">
      <app-shift-card></app-shift-card><br>
      <app-attendance-card></app-attendance-card>
    </div>
  </div>
</section>
