<section class="auth-user-add-dashboard content" style="margin-left: 2.50em;">
  <div class="row">
    <div class="col-8 all-users-refreshed" style="margin: 7.0em auto;">
      <app-user-read-all></app-user-read-all>
    </div>
    <div class="col-4" style="margin: 7.0em auto;">
      <mat-card class="mat-elevation-z18">
        <mat-card-header class="header-title">
          <mat-card-title>{{ addUserAppTitle }}</mat-card-title>
          <mat-card-subtitle>{{ addUserAppSubTitle }}</mat-card-subtitle>
        </mat-card-header><hr>
        <mat-card-content>
          <mat-form-field class="container">
            <mat-label for="username">{{ items000 }}</mat-label>
            <input matInput type="text" name="username" id="username" [(ngModel)]="user.username" class="form-control block username" placeholder="Username">
          </mat-form-field>
          <mat-form-field class="container">
            <mat-label for="password">{{ items001 }}</mat-label>
            <input matInput type="password" name="password" id="password" [(ngModel)]="user.password" class="form-control block password" placeholder="Password">
          </mat-form-field>
          <mat-form-field class="container">
            <mat-label for="email">{{ items002 }}</mat-label>
            <input matInput type="email" name="email" id="email" [(ngModel)]="user.email" class="form-control block email" placeholder="Email">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button type="submit" (click)="addUsers()" class="btn btn-block block submit mat-elevation-z16 mat-elevation-z16">{{ addButtonName }}</button>
        </mat-card-actions>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </div>
  </div>
</section>
